@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

$Pink:hsl(322, 100%, 66%);
$Light-Pink: hsl(321, 100%, 78%);
$Light-Pink-shadow: hsla(321, 100%, 78%,0.3);
$Light-Red: hsl(0, 100%, 63%);

$Very-Dark-Cyan: hsl(192, 100%, 9%);
$Very-Pale-Blue: hsl(207, 100%, 98%);

$Custom-light-blue: rgba(94, 255, 255, 0.8);

$font-openSans: 'Open Sans', sans-serif;
$font-poppins: 'Poppins', sans-serif;