@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
/*===================
  General
=====================*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Open Sans", sans-serif;
}

h1 {
  text-align: center;
  font-family: "Poppins", sans-serif;
}

h2 {
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
}

/*===================
  Navigation Bar
=====================*/
.navigation-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px;
}

.logo {
  max-width: 250px;
  min-width: 150px;
  height: 15%;
}

.nav-btn {
  background-color: transparent;
  border: 2px solid #ff52bf;
  border-radius: 50px;
  padding: 10px 20px;
  color: #ff52bf;
  text-transform: capitalize;
}

.nav-btn:hover {
  border-color: #ff8fd8;
  color: #ff8fd8;
  -webkit-box-shadow: 0 1px 10px rgba(255, 143, 216, 0.3);
          box-shadow: 0 1px 10px rgba(255, 143, 216, 0.3);
}

/*===================
  Main Container
=====================*/
.main-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 8fr 1fr;
      grid-template-columns: 1fr 8fr 1fr;
}

.main-container-info {
  -ms-grid-column: 2;
      grid-column-start: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container-info p {
  text-align: center;
  width: 50%;
  margin: 20px 0;
}

.main-btn {
  background-color: #ff52bf;
  border-radius: 50px;
  padding: 20px 20px;
  width: 35%;
  text-align: center;
  color: #f5faff;
  margin-bottom: 100px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.main-btn:hover {
  background-color: #ff8fd8;
}

.main-image {
  width: 100%;
}

/*===================
  Numbers Container
=====================*/
.numbers-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  margin: 75px 0;
}

.numbers-container h1 {
  font-size: 4.5rem;
}

.numbers-container h1 span {
  display: block;
  font-size: 1.2rem;
  color: rgba(128, 128, 128, 0.7);
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

/*===================
  Cards Container
=====================*/
.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f5faff;
  padding: 80px 150px;
}

.card-top {
  background: url("../images/bg-section-top-desktop-1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 20vh;
}

.card-bottom {
  background: url("../images/bg-section-bottom-desktop-1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 20vh;
}

.card:nth-child(4n) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  background-color: white;
}

.card:nth-child(4n) .card-image {
  float: left;
}

.card-image {
  width: 80%;
  float: right;
}

.card-info {
  width: 60%;
}

/*===========================
  Community Button Container
============================*/
.communityBtn-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 8fr 1fr;
      grid-template-columns: 1fr 8fr 1fr;
  margin: 80px 0;
}

.community-btn {
  -ms-grid-column: 2;
      grid-column-start: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*===========================
  Footer
============================*/
.footer-top {
  background: url("../images/bg-footer-top-desktop.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 23vh;
}

footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 2fr 3fr 1fr;
      grid-template-columns: 1fr 2fr 2fr 3fr 1fr;
  background-color: #00252e;
  color: #f5faff;
  padding-bottom: 20px;
}

/*===========================
  Footer left Column
============================*/
.left-col {
  -ms-grid-column: 2;
      grid-column-start: 2;
}

.left-col p {
  margin-top: 20px;
}

.logo-small {
  -webkit-filter: brightness(0) invert(100%);
          filter: brightness(0) invert(100%);
}

.contact-main-container {
  margin-top: 30px;
  margin-bottom: 60px;
}

.contact-main-container p {
  margin: 0;
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}

.contact-container i {
  margin-right: 10px;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fab {
  cursor: pointer;
  margin-right: 20px;
}

.fab:hover {
  color: rgba(94, 255, 255, 0.8);
}

/*===========================
  Footer right column
============================*/
.right-col {
  -ms-grid-column: 4;
      grid-column-start: 4;
}

.right-col p {
  margin-top: 20px;
  margin-bottom: 40px;
  width: 80%;
}

#form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 6;
}

#email {
  padding: 15px;
  width: 90%;
  border-radius: 5px;
  border: 0;
  margin-right: 20px;
}

.news-btn {
  cursor: pointer;
  border-radius: 5px;
  padding: 15px;
  background-color: #ff52bf;
  color: #f5faff;
  border: 0;
}

.news-btn:hover {
  background-color: #ff8fd8;
}

/*===================
  Attribution
=====================*/
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

/*================================================================================
                                    Media
==================================================================================*/
@media only screen and (max-width: 1024px) {
  /*===================
    General
  =====================*/
  h1 {
    font-size: 1.75rem;
  }
  h2 {
    font-size: 1.75rem;
  }
  /*===================
    Navigation Bar
  =====================*/
  .navigation-bar {
    padding: 20px;
    margin-bottom: 60px;
  }
  .logo {
    max-width: 150px;
  }
  /*===================
    Main Container
  =====================*/
  .main-container-info p {
    width: 100%;
  }
  .main-btn {
    width: 100%;
    margin: 50px 0;
    margin-bottom: 100px;
  }
  .main-image {
    width: 90%;
  }
  /*===================
    Numbers Container
  =====================*/
  .numbers-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .number {
    margin: 50px 0;
  }
  /*===================
    Cards Container
  =====================*/
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #f5faff;
    padding: 20px 20px;
  }
  .card-top {
    background-position: 100% 110%;
    background-size: 150%;
  }
  .card-bottom {
    background-size: 100%;
  }
  .card:nth-child(4n) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .card:nth-child(4n) .card-image {
    float: none;
  }
  .card-image {
    width: 100%;
    float: none;
  }
  .card-info {
    margin-top: 50px;
    width: 100%;
    text-align: center;
  }
  /*===========================
    Community Button Container
  ============================*/
  .communityBtn-container {
    text-align: center;
  }
  /*===========================
    Footer
  ============================*/
  .footer-top {
    height: 15vh;
    background-size: 100%;
  }
  footer {
    -ms-grid-columns: 1fr 8fr 1fr;
        grid-template-columns: 1fr 8fr 1fr;
    -ms-grid-rows: 0.5fr 2fr 2fr;
        grid-template-rows: 0.5fr 2fr 2fr;
  }
  /*===========================
    Footer left Column
  ============================*/
  .left-col {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-row: 3;
        grid-row-start: 3;
  }
  .left-col p {
    margin-top: 20px;
  }
  .contact-main-container {
    margin-top: 30px;
    margin-bottom: 60px;
  }
  .contact-main-container p {
    margin: 0;
  }
  /*===========================
    Footer right column
  ============================*/
  .right-col {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-row: 2;
        grid-row-start: 2;
  }
  .right-col h3 {
    font-size: 1.75rem;
  }
  .right-col p {
    width: 100%;
  }
  #form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  #email {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .news-btn {
    width: 50%;
    margin-bottom: 150px;
  }
}
/*# sourceMappingURL=style.css.map */